---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import ContentXL from '../components/ContentXL.astro'
import { Image } from '@astrojs/image/components'
import { FaSlackHash } from 'react-icons/fa/index.js'
import LazyImage from 'react-lazy-blur-image'
---

<BaseHead title="EliasChen - About" description="About this website eliaschen.dev" />
<Body>
    <Header />
    <main class="mt-[50px]">
        <ContentXL>
            <div class="mt-[30px]">
                <h1 class="title-about text-6xl font-bold flex mb-8">About Me</h1>
            </div>
            <p class="font-bold text-xl">Short, 3rd Person</p>
            <p class="text-lg m-3 ml-5">
               EliasChen is a solo developer and loves coding、photography, for now he still keep learning about fullstack development and python programming.
            </p>
            <h1 class="text-3xl font-bold">Photoshots</h1>
            <div class="inline-flex overflow-auto rounded-lg">
                <Image
                    src={import('../media/eliaschen.jpg')}
                    class="w-auto h-[250px] rounded-xl grayscale border-1"
                    alt="eliaschen"
                />&emsp;
                <Image
                    src={import('../media/cat3.jpg')}
                    class="w-auto h-[250px] rounded-xl grayscale border-1"
                    alt="eliaschen"
                />&emsp;
                <Image
                    src={import('../media/cat1.jpg')}
                    class="w-auto h-[250px] rounded-xl grayscale border-1"
                    alt="eliaschen"
                />&emsp;
                <Image
                    src={import('../media/cat2.jpg')}
                    class="w-auto h-[250px] rounded-xl grayscale border-1"
                    alt="eliaschen"
                />&emsp;
                <Image
                    src={import('../media/beach.jpg')}
                    class="w-auto h-[250px] rounded-xl grayscale"
                    alt="eliaschen"
                />&emsp;
                <Image
                    src={import('../media/dragon.jpg')}
                    class="w-auto h-[250px] grayscale rounded-xl"
                    alt="eliaschen"
                />&emsp;
                <Image
                    src={import('../media/mountain.jpg')}
                    class="w-auto h-[250px] grayscale rounded-xl"
                    alt="eliaschen"
                />&emsp;
                <Image
                    src={import('../media/street.png')}
                    class="w-auto h-[250px] grayscale rounded-xl"
                    alt="eliaschen"
                />&emsp;
            </div>
        </ContentXL>
    </main>
    <Footer />
</Body>
