---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from '../config'
import Body from '../components/Body.astro'
import TypeTitle from '../components/Index/TypeTitle'
import About from '../components/Index/Aubot.astro'
import Content from '../components/Content.astro'
import PostsSection from '../components/Index/PostsSection.astro'
import ContentXL from '../components/ContentXL.astro'
import { AiOutlineArrow } from '../Printicon'
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <Body>
        <Header title={SITE_TITLE} />
        <main class="pt-[70px]">
            <div class="mt-20 mx-auto text-center mb-28">
                <h1 class="text-md mb-1 font-thin">WELCOME TO ELIASCHEN.DEV</h1>
                <h1 class="text-3xl font-mplus">I Share about</h1>
                <h1 class="typetitle font-bold font-mplus text-orange-500 text-5xl">
                    <TypeTitle client:visible />
                </h1>
            </div>
            <Content>
                <About />
            </Content>
            <ContentXL>
                <div class="mt-[30px]">
                    <section class="postsdiv">
                        <a href="/posts">
                            <button
                                class="float-right flex items-center text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
                                ><span class=""><AiOutlineArrow /></span>
                            </button>
                        </a>
                        <h1 class="font-extrabold text-4xl font-mplus">
                            Posts&thinsp;<span class="text-orange-500">-</span>
                        </h1>
                        <PostsSection />
                    </section>
                    <section class="worksdiv mt-[10px]">
                        <a href="/works">
                            <button
                                class="float-right flex items-center text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
                                ><span><AiOutlineArrow /></span>
                            </button>
                        </a>
                        <h1 class="font-extrabold text-4xl font-mplus">
                            Works&thinsp;<span class="text-orange-500 font-extrabold">-</span>
                        </h1>
                    </section>
                </div>
            </ContentXL>
        </main>
        <Footer />
    </Body>
    <style>
        @media only screen and (max-width: 440px) {
            .typetitle {
                font-size: 35px;
            }
        }
    </style>


</html>
