---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from '../config'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import { AiOutlineArrow } from '../Printicon'
import { FaSlackHash } from 'react-icons/fa/index.js'
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title="EliasChen - Posts" description="" />
    </head>
    <Body>
        <Header title="EliasChen - Posts" />
        <main class="pt-[100px] ">
            <div>
                <div class="m-20 mb-32">
                    <h2
                        class="z-10 logoicontext absolute font-semibold flex items-center tracking-tighter p-2 my-2 ml-2 font-mplus text-9xl text-white  bottom-[200px] left-[270px] "
                    >
                        <span class="hashtag-icon text-9xl duration-200"><FaSlackHash /></span>
                        EliasChen.dev
                    </h2>
                    <img src="../../public/works/eliaschen-dev/index-dark.png" alt="hello" class="img z-0 m-5" />
                </div>
            </div>
        </main>
        <Footer />
    </Body>

    <style>
       
        .errorhover:hover .hashtag-icon {
            rotate: 17.5deg;
        }
        .img {
            filter: blur(10px);
            position:absolute
        
        }
    </style>


</html>
