---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from '../config'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import ContentXL from '../components/ContentXL.astro'
import TypePosts from '../components/Typing/TypePosts'
import React from 'react'
import {Image } from '@astrojs/image/components'
const posts = (await Astro.glob('./posts/*.mdx')).sort(
    (a: any, b: any) => new Date(b.frontmatter.createdAt).valueOf() - new Date(a.frontmatter.createdAt).valueOf()
)
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title="EliasChen - Posts" description="Share my around of Develop with posts" />
    </head>
    <Body>
        <Header title="EliasChen - Posts" />
        <main class="pt-[100px]">
            <ContentXL>
                <div>
                    <h1 class="text-5xl text-center font-mplus font-bold text-orange-400 dark:text-purple-500">
                        <TypePosts client:visible />
                    </h1>
                    <div>
                        <ul class="grid grid-cols-1 xs:grid-cols-2 gap-4 mt-10">
                            {
                                posts.map((post) => (
                                    <li class="postlinkbox ">
                                        <a href={post.frontmatter.url}>
                                            <Image
                                                class="postlinkbox-image duration-200 border border-slate-300 dark:border-zinc-700 rounded-xl"
                                                alt="PostImage - EliasChen.dev"
                                                src="/placeholder-hero.jpg"
                                                width={720 * 2}
                                                aspectRatio={2.0}
                                            />
                                            <div class=" rounded-b-lg p-4 ">
                                                <h1 class="postlinkbox-title text-2xl font-mplus font-bold ">
                                                    {post.frontmatter.title}
                                                </h1>
                                                <div class="bg-purple-300 dark:bg-orange-500 font-bold rounded-md inline-flex text-xs px-1 py-[2px]">
                                                    #{post.frontmatter.tags}
                                                </div>
                                                <p class="text-right">{post.frontmatter.date}</p>
                                            </div>
                                        </a>
                                    </li>
                                ))
                            }
                        </ul>
                    </div>
                </div>
            </ContentXL>
        </main>
        <Footer />
    </Body>
    <style>
        .postlist{
            
        }
        .postlinkbox:hover .postlinkbox-title {
            text-decoration: underline;
        }
        .postlinkbox:hover .postlinkbox-image {
            -webkit-transform: scale(1.04);
            -moz-transform: scale(1.04);
            -o-transform: scale(1.04);
            -ms-transform: scale(1.04);
            transform: scale(1.04);
        }
    </style>

</html>
