---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
---

<BaseHead title="EliasChen - Privacy" description="The Privacy of eliaschen.dev" />
<Body>
    <Header />
    <main class="mt-[50px]">
        <Content>
            <div class="mt-[30px] text-left font-extrabold ">
                <h1 class="title-about text-5xl">Privacy</h1>
            </div>
            <div class="mt-8">
                <p class="ml-2">Your cookie data only will use in eliaschen.dev .</p>
            </div>
        </Content>
    </main>
    <Footer />
</Body>
<!-- privacystatement -->