---
const today = new Date()
import { FaSlackHash } from 'react-icons/fa/index.js'
import ContentXL from '../components/ContentXL.astro'
---
<footer class="my-8 p-1 text-md">
    <ContentXL>
        <div class="text-center">
            <p class="text-md">&copy; {today.getFullYear()} EliasChen. All rights reserved.</p>
            <div class="inline-flex text-md">
                <a class="underline" href="/about" class="" >About</a>
                <p>&thinsp;|&thinsp;</p>
                <a class="underline" href="/copyright">CopyRight</a>
                <p>&thinsp;|&thinsp;</p>
                <a class="underline" href="/privacystatement">PrivacyStatement</a>
            </div>
        </div>
    </ContentXL>
    <!-- <br>
    <div class="">
        <a href="/about" class="color-blue-500 text-center text-lg">About</a>
    </div> -->
</footer>