---
const today = new Date()
import { FaSlackHash } from 'react-icons/fa/index.js'
import ContentXL from '../components/ContentXL.astro'
---

<!-- my-8 p-1 text-md -->
<footer class="mt-10">
    <ContentXL>
        <div class="my-8 xs:flex block max-w-full">
            <p class="text-md">&copy;&ensp;{new Date().getFullYear()}&thinsp;EliasChen.&thinsp;All rights reserved.</p>
            <div class="flex-1"></div>
            <ul class="text-md">
                <a class="mx-1 text-gray-500 hover:text-gray-700 transition" href="/copyright">CopyRight</a>
                <a class="mx-1 text-gray-500 hover:text-gray-700 transition" href="/about">About</a>
                <a
                    class="mx-1 text-gray-500 hover:text-gray-700 transition"
                    href="https://github.com/chenelias/eliaschen-dev"
                    target="_blank">Source</a
                >
            </ul>
        </div>
    </ContentXL>
    <!-- <div class="text-center">
            <p class="text-md">&copy; {today.getFullYear()} EliasChen. All rights reserved.</p>
            <div class="inline-flex text-xs">
                <a class="underline" href="/about" class="" >About</a>
                <p>&thinsp;|&thinsp;</p>
                <a class="underline" href="/copyright">CopyRight</a>
                <p>&thinsp;|&thinsp;</p>
                <a class="underline" href="/privacystatement">PrivacyStatement</a>
            </div>
        </div> -->
</footer>
