---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../config'
import ThemeToggle from './Header/ThemeToggleButton'
import DropdownMenu from './Header/DropdownMenu'
import Logoicon, { Githubicon } from './Header/Logoicon'
---

<header class="fixed w-full pq2 z-20 dark:bg-[rgba(0,0,0,0.3)] bg-[rgba(255,255,255,0.30)] backdrop-blur-md">
    <div class="mx-auto max-w-2xl">
        <nav class="flex items-center gap-3 text-base">
            <a href="/" class="grop flex header-homelink">
                <h2
                    class="logoicontext font-semibold flex items-center tracking-tighter p-2 my-2 ml-2 font-mplus text-xl"
                >
                    <span class="hashtag-icon text-3xl duration-200">
                        <Logoicon client:visible />
                    </span>
                    EliasChen.dev
                </h2>
            </a>
            <div class="headerlink text-lg items-center gap-6">
                <HeaderLink class="hover:underline hover:underline-offset-8 mr-2" href="/posts">Posts</HeaderLink>
                <HeaderLink class="hover:underline hover:underline-offset-8 mx-2" href="/works">Works</HeaderLink>
                <HeaderLink
                    class="hover:underline hover:underline-offset-8 mx-2 relative top-[2.5px]"
                    href="https://github.com/chenelias/eliaschen-dev"
                    target="_blank"><Githubicon />Source</HeaderLink
                >
            </div>
            <div class="flex-1"></div>
            <div class="themetoggle"><ThemeToggle client:visible /></div>
            <div class="dropdownmenu">
                <DropdownMenu client:visible />
            </div>
        </nav>
    </div>
</header>
<style>
    .header-homelink:hover .hashtag-icon {
        rotate: 17.5deg;
    }
    @media only screen and (max-width: 530px) {
        .headerlink {
            display: none;
        }
        .themetoggle {
            margin-right: 0px;
        }
        .dropdownmenu {
            display: inline-flex;
        }
        .logoicontext {
        }
    }
    @media only screen and (min-width: 530px) {
        .dropdownmenu {
            display: none;
        }
        .themetoggle {
            margin-right: 10px;
        }
        .logoicontext {
        }
    }
</style>
