---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props
const isActive = href === Astro.url.pathname.replace(/\/$/, '')
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
    <slot />
</a>
<style>
    a {
        display: inline-flex;
        align-items: center;
        gap: 4px;
        text-decoration: none;
		duration:1s;
    }
    a.active {
		font-weight:bold;
        color: #f97316;
    }
</style>
