---
import * as React from 'react'
import { Image, Picture } from '@astrojs/image/components'
import Socialmedia from './Socialmedia'
---

<div class="mx-auto">
    <div class="nameimgbox flex items-center">
        <div>
            <h1 class="mx-auto text-4xl font-bold font-mplus">EliasChen</h1>
            <h3 class="text-md">Developer / Learner&nbsp;&bull;&nbsp;Taiwan</h3>
        </div>
        <div class="flex-1"></div>
        <Image
            src={import('../../media/eliaschen.jpg')}
            class="eliaschenimg h-[110px] w-auto rounded-full"
            alt="eliaschen"
        />
    </div>
    <div class="mt-[20px]">
        <h1 class="text-2xl font-bold font-mplus">About</h1>
        <div class="h-[5px] w-[70px] bg-orange-500 rounded-xl mb-[10px]"></div>
        <p class="text-lg">
            &emsp;&emsp;Elias is a learner and a front-end developer want to make his develop skills better with write
            more code and share what he learn on eliaschen.dev .
        </p>
    </div>
    <div class="mt-[20px]">
        <h1 class="text-2xl font-bold font-mplus">Develop skills</h1>
        <div class="h-[5px] w-[160px] bg-orange-500 rounded-xl mb-[10px]"></div>
        <p class="text-md">
            &emsp;Web ( React / Next / Astro / Vue ), Mobile (ReactNative), Desktop (Electron), Python, C++
        </p>
    </div>
    <div class="mt-[20px]">
        <h1 class="text-2xl font-bold font-mplus">Hobby</h1>
        <div class="h-[5px] w-[75px] bg-orange-500 rounded-xl mb-[10px]"></div>
        <p class="text-md">&emsp;Develop, Art, Photography, English</p>
    </div>
    <div class="mt-[20px]">
        <h1 class="text-2xl font-bold font-mplus">Social media</h1>
        <div class="h-[5px] w-[149px] bg-orange-500 rounded-xl mb-[10px]"></div>
        <div class="ml-5">
            <lu class="list-none text-lg leading-10">
                <Socialmedia client:visible />
            </lu>
        </div>
    </div>
</div>
<style>
    @media only screen and (max-width: 350px) {
        .nameimgbox {
            display: block;
        }
        .eliaschenimg {
            margin-left: auto;
            margin-right: auto;
            margin-top: 5px;
            height: 150px;
        }
    }
</style>
